body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#weather-info {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}