body {
  font-family: Arial, sans-serif;
  background-color: rgb(132, 142, 136);
  margin: 0;
  padding: 20px;
}

#header {
  display: flex;
  justify-content: flex-end;
}

.date-time {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 14px;
}

#clock-icon {
  margin-right: 5px;
}

#current-date {
  font-weight: bold;
}

.title-wrapper {
  display: inline-block;
  padding: 10px;
}

h1 {
  display: inline-block;
  padding: 10px;
  text-align: center;
  color: #333;
  margin-top: 20px;
  background-color: #e7b7b7;
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#weather-info {
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
  padding: 10px;
  background-color: #ec7f7f;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.weather-details {
  margin-left: 20px;
}

#weather-icon {
  font-size: 48px;
  margin-bottom: 10px;
}

#weather-description {
  font-weight: bold;
}

#temperature,
#humidity,
#wind-speed,
#pressure {
  margin-top: 5px;
}
